body {
    background-color: rgb(109, 177, 182);
}

.Surprise {
    display:none;
}

h1 {
    color: white;
    text-align: center;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
button{
    align-items: center;
}